body{ background-color:black;}
#container{ background-color:black;
			width:100%;
			height:100%;
	
}
#header{
			width:100%;
			height:90px;
}
#logo{	float:left;
		background-color:white;
		width:20%;
		height:90px;
}
#logo img{
	width:55%;
	height:100%;
	
}
#slogan{	float:left;
		background-color:#E74F4F;
		width:80%;
		height:90px;
		text-align:center;
		
}
#nav{ background-color:black;
			width:100%;
			height:30px;
}
#nav  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav li a:hover {
  background-color: #111;
}
#article{ background-color:white;
			width:83%;
			height:450px;
			float:left;
			margin-top:1.3%;
			padding-left:2%;
}
#sidebar{	background-color:#D02626;
			width:15%;
			height:450px;
			float:right;
			margin-top:1.3%;
			color:white;
			margin-left:0%;
			padding-left:0%;
}
#sidebar img{
	width:15%;
	height:15%;
	padding-left:10px;
}
 .figure {
    position: relative;
    width: 360px; /* can be omitted for a regular non-lazy image */
    max-width: 100%;
  }
.figure img.Sirv.image1h {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
  }
.figure:hover img.Sirv.image1h {
    opacity: 1;
  }
  .figure img.Sirv.image2h {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
  }
.figure:hover img.Sirv.image2h {
    opacity: 1;
  }
  .figure img.Sirv.image3h {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
  }
.figure:hover img.Sirv.image3h {
    opacity: 1;
  }
  .figure img.Sirv.image4h {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
  }
.figure:hover img.Sirv.image4h {
    opacity: 1;
  }
#footer{ background-color:pink;
			width:100%;
			height:50px;
		padding-top:0px;
		float:left;
			margin-top:0px;
			text-align:center;
			font-size:25px;
			
}
a:link{
	color:white;
	background-color:transparent;
	text-decoration:none;
}